[submodule "externals/iconv"]
	path = externals/iconv
	url = https://github.com/Kloen/libiconv-android.git
[submodule "externals/soundtouch"]
	path = externals/soundtouch
	url = https://github.com/Kloen/soundtouch-android.git
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/Kloen/boost_163_android_r14b_complete_prebuilt.git
[submodule "externals/nihstro"]
	path = externals/nihstro
	url = https://github.com/Kloen/nihstro-android
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/Kloen/fmt-android-prebuilt.git
[submodule "externals/catch"]
	path = externals/catch
	url = https://github.com/Kloen/catch-android-prebuilt.git
